table, th, td {
    border: 1px solid black;
  }

  .radio-inline {
 padding-left: 35px;

  }

  .w{
width:50%;

  }

  .p{
padding-top: 20px;
    
  }

  hr
  {
border-style: solid 1px silver;

  }

  th{

    padding-left: 20px;
  }