
<div style="margin-left: 5%; margin-top: 5%;">

<form class="form-horizontal" [formGroup]='employeeForm' (ngSubmit)="onSubmit()" autocomplete="off">
<div class="panel panel-primary">
<h3 class="panel-title">Create Employee</h3>
</div>

<div class="panel-body">

  <!--
   fullName Form Fields
    a nested form group
    of form controls
    enabling on demand
    multiple copies


    -->

  <div class="form-group" [ngClass]="{'has-error': formErrors.fullName}">
    <label class="col-sm-2 control-label" for="fullName">Full Name</label>
    <div class="col-sm-8">
      <input id="fullName" formControlName="fullName" type="text" class="form-control w"
             (blur)="logValidationErrors()">
      <span class="help-block" *ngIf="formErrors.fullName">
        {{formErrors.fullName}}
      </span>
    </div>
  </div>



  <!--
    contactPreference
    Form Field
    form control of type
    array enabled

    -->

  <div class="form-group">
    <div class="col-md-8">

      <label class="col-md-2 control-label" for="contactPreference">

        Contact Preference
      </label>


      <label class="radio-inline">
        <input type="radio" value="email" id="contactPreference" (click)="onContactPreferenceChange('email')"
               formControlName="contactPreference">

        Email
      </label>

      <label class="radio-inline">
        <input type="radio" value="phone" id="contactPreference" (click)="onContactPreferenceChange('phone')"
               formControlName="contactPreference">

        Phone
      </label>

    </div>
  </div>



  <!--
   emailGroup
  2  Form Field
   form control of type
   input text email
     and confirmEmail

   -->


  <div formGroupName="emailGroup">

    <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
      <label class="col-sm-2 control-label" for="email">
        Email
      </label>
      <div class="col-sm-8">
        <input id="email" type="text" class="form-control w" formControlName="email"
               (blur)="logValidationErrors()">
        <span class="help-block" *ngIf="formErrors.email">
          {{formErrors.email}}
        </span>

      </div>
    </div>



    <div class="form-group" [ngClass]="{'has-error': formErrors.confirmemail || formErrors.emailGroup}">
      <label class="col-sm-2 control-label" for="confirmemail">
        Confirm Email
      </label>
      <div class="col-sm-8">
        <input id="confirmemail" type="text" class="form-control w" formControlName="confirmemail"
               (blur)="logValidationErrors()">
        <span class="help-block" *ngIf="formErrors.confirmemail  || formErrors.emailGroup">
          {{formErrors.confirmEmail ?  formErrors.confirmEmail : formErrors.emailGroup }}

        </span>

      </div>
    </div>

  </div>





  <div class="form-group" [ngClass]="{'has-error': formErrors.phone}">
    <label class="col-sm-2 control-label" for="phone">
      Phone
    </label>
    <div class="col-sm-8">
      <input id="phone" type="text" class="form-control w" formControlName="phone"
             (blur)="logValidationErrors()">
      <span class="help-block" *ngIf="formErrors.email">
        {{formErrors.email}}
      </span>

    </div>
  </div>


  <div class="form-group row mb-2">
    <div class="col-md-8">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input"
                 id="showSkillsId"
                 type="checkbox"
                 formControlName="showSkills">Show your skills
        </label>
      </div>
    </div>
  </div>




  <!--  ▒  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒-->

  <div *ngIf="employeeForm.get('showSkills')?.value">
      <div formArrayName="skills" >


        <div class="col-sm-offset-2 col-sm-4">
          <button type="button"
                  class="btn btn-primary"
                  (click)="addSkillButtonClick()"
                  [disabled]="employeeForm.get('skills')?.invalid">      
          Add Skill
          </button>
        </div>




        <div [formGroupName]="i" *ngFor="let skill of skills.controls; let i=index"  >

<hr *ngIf="i>0">
          <div class="form-group" [ngClass]="{'has-error': skill.get('skillName')?.invalid && skill.get('skillName')?.touched}">
            <label class="col-sm-2 control-label" [attr.for]="'skillName'+i">
              Skill
            </label>


            <div *ngIf="skills.length >1">
            <button type="button" class="btn btn-danger btn-sm"   
                        style="position:relative; right:-200px; background-color: coral;border-width: 0;" 
                        title="Delete Skill" 
                        (click)="removeSkillButtonClick(i)">
              <span class="fa fa-times" style="float:right">X</span>
            </button>
            </div>


            <div class="col-sm-4">
              <input type="text" class="form-control" id="'skillName'+i"
                     formControlName="skillName"
                     placeholder="C#, Angular, .Net Core etc...."
                  >

              <span class="help-block" *ngIf="skill.get('skillName')?.errors && skill.get('skillName')?.touched">
 Skilly Name is required
              </span>
            </div>
          </div>


          <div class="form-group" [ngClass]="{'has-error': skill.get('experienceInYears')?.invalid && skill.get('experienceInYears')?.touched}">
            <label class="col-sm-2 contrpl-label" [attr.for]="'experienceInYears' +i">
              Experience
            </label>
            <div class="col-sm-4">
              <input type="text" placeholder="Experience in Years" formControlName="experienceInYears"
                     (blur)="logValidationErrors()">
              <span class="help-block" *ngIf="skill.get('experienceInYears')?.errors && skill.get('experienceInYears')?.touched">
              Experience is Required
              </span>
            </div>
            <div class="col-sm-6">



            </div>
          </div>


          
          
          
          <div class="form-group" [ngClass]="{'has-error':  skill.get('proficiency')?.invalid && skill.get('proficiency')?.touched  }">

            <div class="col-md-8">
              <label class="col-md-2 control-label p" for="proficiency">

                Proficiency

              </label>



              <label class="radio-inline">
                <input type="radio" value="beginner" id="proficiency"
                       (blur)="logValidationErrors()"
                       formControlName="proficiency">

                Beginner

              </label>
              <label class="radio-inline">
                <input type="radio" value="intermediate" id="proficiency"
                       (blur)="logValidationErrors()"
                       formControlName="proficiency">

                Intermediate

              </label>
              <label class="radio-inline">
                <input type="radio" value="advanced" id="proficiency"
                       (blur)="logValidationErrors()"
                       formControlName="proficiency">

                Advanced

              </label>
              <span class="help-block" *ngIf="skill.get('experienceInYears')?.errors && skill.get('experienceInYears')?.touched">
                Proficiency is Required
              </span>

            </div>
          </div>


        </div>
      </div>    <!-- end of formArrayName -->
    </div>
     







</div>





<div class="panel-footer">
    
    <button class="btn btn-primary" type="submit">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" type="button" (click)="onLoadData()">Load Data</button>
</div>


</form>




<table style=" float: right; width: 50%; float: top; margin-top:-300px; background-color:darksalmon; margin-right:50px; font-size: small;">
    <tr>
    <th style="padding: 10px">FormGroup</th>
    <th style="padding: 10px">FormControl (fullName)</th>
    </tr>
    <tr>
    <td style="padding: 10px">
        touched : {{employeeForm.touched}}<br/>
        valid: {{employeeForm.valid}}<br/>
Form Values:  {{employeeForm.value | json}} 

<br><br>

</td>
<td>
         touched : {{this.employeeForm.get('fullName')?.touched}}
    <br/> dirty : {{this.employeeForm.get('fullName')?.dirty}}
    <br/> dirty : {{this.employeeForm.get('fullName')?.dirty}}


    <br/> valid : {{this.employeeForm.get('fullName')?.valid}}
    <br/> Full Name Value : {{this.employeeForm.get('fullName')?.value}}

    </td>


    </tr>
    </table>
    
</div>
