<br><br>
<p>list-employees works!</p>
<div>
<table>
    <thead>
    <tr class="bg-primary">
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Contact Preference</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- <tr *ngFor="let employee of employees">
    <td>{{employee.fullName}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.contactPreference}}</td>
    <td><buttin class="btn btn-primary" (click)="">Edit</td>
    </tr> -->
    </tbody>
</table>
 </div>
   
    
    
    
    